@import url(http://fonts.googleapis.com/css?family=Monofett);

#danceboard {
    position: relative;
    width: 700px;
    height: 700px;
    padding: 20px;
    border: 5px rgba(1,204,124,.6) solid;
    border-radius: 25px;
    margin: 0 auto;
    margin-top: 200px;
    background: #01feae;
}

#title {
    font-family: "Monofett", "Futura", "Helvetica", "Arial", sans-serif;
    font-size: 4em;
    text-align: center;
    margin-bottom: 20px;
}

#danceboard:after {
    content: "";
    display: table;
    clear: both;
}

/*.controller {
    margin-top: 150px;
}*/

.arrow {
    position: absolute;
    height: 100px;
    width: 100px;
    background: rgba(1,204,124,.6) url('../assets/triangle_transparent.png') no-repeat 50% 50%;
    padding: 20px;
    border: 3px solid rgba(141,34,100,1);
    border-radius: 10px;
    -webkit-transition: all 250 ease-out;
    -ms-transition: all 250 ease-out;
    -moz-transition: all 250 ease-out;
    transition: all 250 ease-out;
}

#up {
    top: 250px;
    left: 297px;
}

#left {
    top: 400px;
    left: 147px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
}

#stop {
    top: 400px;
    left: 297px;
    background: rgba(1,204,124,.6);
}

#right {
    top: 400px;
    left: 447px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

#down {
    top: 550px;
    left: 297px;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
}

.clear {
    clear: left;
}

.selected, #left:hover, #right:hover, #up:hover, #down:hover{
    background-color: rgba(233,22,99,.8);
}

.button {
    font-family: "Monofett", "Futura", "Helvetica", "Arial", sans-serif;
    font-size: 1.5em;
    display: inline-block;
    vertical-align: middle;
    text-align: center;
    margin: 5px;
    padding: 5px;
    height: 10px;
    width: 200px;
    background: rgba(125,119,121,.6);
    padding: 20px;
    border: 3px solid rgba(64,64,64,1);
    border-radius: 10px;
    -webkit-transition: all 250 ease-out;
    -ms-transition: all 250 ease-out;
    -moz-transition: all 250 ease-out;
    transition: all 250 ease-out;
}

.button-choice, .button:hover {
    background-color: red;
}

.canvas-frame {
    border: 2px solid rgba(64,64,64,1);
    background-color: #757475;
    border-radius: 10px;
    height: 370px;
    width: 650px;
    margin: 28px;
    padding: auto;
    text-align: center;
    vertical-align: middle;
}

#canvas {
    border: 1px solid black;
    background-color: red;
    margin: auto;
    margin-top: 10px;
}

#youtube {
    margin: 20px;
    border: 1px solid black;
    height: 250px;
    width: 610px;
    background-color: gray;
    border-radius: 10px;
}

#player {
    margin-top: 30px;
    margin-left: 48px;
}
